---
import MainLayout from '@/layouts/main-layout.astro';
import Hero from '@/components/hero.astro';
import BackgroundOverlay from '@layout/background-overlay.astro';
import FAQ from '@/components/faq.astro';
import domkyrkan from '@/assets/domkyrkan.jpeg';
import type { Locale } from '@/models/i18n';
import { getTranslations } from '@/locales';
import Banner from '@layout/banner.astro';
import TextSection from '@/components/text-section.astro';
import lundakarnevalen from '@/assets/karnevalen.jpg';
import Button from '@/components/button.astro';
import Nationer from '@/components/nationer/nationer.astro';
import MoreInLund from '../more-in-lund.astro';

export type Props = {
  locale: Locale;
};

const { locale } = Astro.props;
const [t, routes] = getTranslations(locale);
---

<MainLayout title={t('titles.home')} language={locale}>
  <Hero locale={locale} />

  <Banner
    title={t('banner.nollning.title')}
    button={t('banner.nollning.button')}
    href={routes('nollning')}
  />

  <section class="h-[80dvh] text-white" id="welcome">
    <BackgroundOverlay src={domkyrkan} alt="Domkyrkan - Source: Wikipedia">
      <TextSection title={t('welcome.title')}>
        {t('welcome.content')}
      </TextSection>
    </BackgroundOverlay>
  </section>

  <section class="py-24 max-w text-center">
    <FAQ locale={locale} />
  </section>

  <Nationer locale={locale} />

  <section class="h-[80dvh] text-white" id="lundkarnevalen">
    <BackgroundOverlay
      src={lundakarnevalen}
      alt="Lundakarnevalen"
      width={1920}
      aspectRatio={16 / 9}
    >
      <div class="flex flex-col items-center gap-4">
        <TextSection title={t('lundakarnevalen.title')}>
          {t('lundakarnevalen.content')}
        </TextSection>
        <Button href="https://lundakarnevalen.se/">
          {t('lundakarnevalen.button')}
        </Button>
      </div>
    </BackgroundOverlay>
  </section>

  <MoreInLund locale={locale} />
</MainLayout>
