---
import { getTranslations } from '@/locales';
import type { FaqQuestion } from '@/models/faq';
import type { Locale } from '@/models/i18n';
import Accordion from './accordion.astro';
import Button from './button.astro';
import Heading from './heading.astro';
import Link from './link.astro';
import TextSection from './text-section.astro';

export type Props = {
  locale: Locale;
};

const { locale } = Astro.props;
const [t] = getTranslations(locale);

const CONTACT_URL = 'https://esek.se/contact';
const content = await Astro.glob<FaqQuestion>('../content/faq/*/*.md');

const questions = content.filter((c) => {
  const localePath = c.file.split('/').at(-2);
  return localePath === locale;
});
---

<section class="space-y-24 text-white scroll-mt-24" id="faq">
  <TextSection title={t('faq.title')}>
    {t('faq.description')}
    {' '}
    <Link href={CONTACT_URL}>
      {t('faq.contact')}
    </Link>
  </TextSection>

  <div class="space-y-4">
    {
      questions.map(({ frontmatter, compiledContent }) => (
        <Accordion title={frontmatter.title} content={compiledContent()} />
      ))
    }
  </div>

  <div class="space-y-4">
    <Heading larger={true}>
      {t('faq.not_found')}
    </Heading>
    <Button href={CONTACT_URL}>
      {t('faq.send_an_email')}
    </Button>
  </div>
</section>
