---
import type { Locale } from '../models/i18n';
import '@/styles/main.scss';
import Footer from '@/components/footer.astro';
import Navbar from '@/components/navbar.astro';

export type Props = {
  title: string;
  language: Locale;
};

const { title, language } = Astro.props;
const description =
  'Lund kan kännas som en liten stad, men med nästan hälften av befolkningen som studenter finns det alltid något att göra. Som ny student möts du av en uppsjö av föreningar som sysslar med allt från spex, fester och olika sporter, allt bara några minuter bort på cykeln. ';
---

<html lang={language}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title} | E-Sektionen inom TLTH</title>
  </head>
  <body class="bg-primary-black">
    <Navbar locale={language} />

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>
